<h2>Animals &gt; All</h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Admission Date</td>
      <td>Type</td>
      <td>Breed</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
    <tr>
      <td><a href="/animals/<%=animal.id%>/edit"><%=animal.name%></a></td>
      <td><%=animal.admission_date%></td>
      <td><%=animal.type%></td>
      <td><%=animal.breed%></td>
      <td><%=animal.status%></td>
    </tr>
    <% end #animals.each %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">Number of animals: <%=@animals.length%></td>
    </tr>
  </tfoot>
</table>
