<table>
  <thead>
    <tr>
      <td>Name</td>
      <td class="desktop-only">Admission Date</td>
      <td>Type</td>
      <td class="desktop-only">Breed</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
    <tr>
      <td><a href="/animals/<%=animal.id%>"><%=animal.name%></a></td>
      <td class="desktop-only"><%=animal.admission_date%></td>
      <td><%=animal.type%></td>
      <td class="desktop-only"><%=animal.breed%></td>
      <td><%=animal.status%></td>
    </tr>
    <% end #animals.each %>
  </tbody>
</table>
