<h2>Animals</h2>

<h3><%=@animal.name%></h3>
<form action="/animals/<%=@animal.id%>/edit" method="post">

  <label for="animal-name">Name</label>
    <input type="text" name="name" id="animal-name" value="<%=@animal.name%>">

    <label for="animal-type">Type</label>
    <input type="text" id="animal-type" disabled value="<%=@animal.type%>">
    
    <label for="animal-breed">Breed</label>
    <select name="breed_id" id="animal-breed">
      <% @breeds.each do |breed| %>
      <option value="<%=breed["id"]%>" <%= "selected" if breed["id"]==@animal.breed_id %>>
        <%=breed["breed"]%>
      </option>
      <% end #breeds.each %>
    </select>
    
    <label for="animal-status">Status</label>
    <select name="status_id" id="animal-status">
      <% @statuses.each do |status| %>
      <option value="<%=status["id"]%>" <%= "selected" if status["id"]==@animal.status_id %>>
        <%=status["status"]%>
      </option>
      <% end #statuses.each %>
    </select>
    
  <input type="hidden" name="admission_date" id="animal-admission-date" value="<%=@animal.admission_date%>">
  <button type="submit">Save</button>

</form>