<form action="/animals/<%=@animal.id%>/edit" method="post">

  <label for="animal-name">Name</label>
    <input type="text" name="name" id="animal-name" value="<%=@animal.name%>">

    <label for="animal-type">Type</label>
    <input type="text" id="animal-type" disabled value="<%=@animal.type%>">
    
    <label for="animal-breed">Breed</label>
    <select name="breed_id" id="animal-breed">
      <% @breeds.each do |breed| %>
      <option value="<%=breed["id"]%>" <%= "selected" if breed["id"].to_i==@animal.breed_id %>>
        <%=breed["breed"]%>
      </option>
      <% end #breeds.each %>
    </select>
    
    <label for="adoptable">Adoptable</label>
      <input type="checkbox" name="adoptable" id="adoptable" <%='checked' if @animal.adoptable%>>
    
  <hr>

  <input type="hidden" name="admission_date" id="animal-admission-date" value="<%=@animal.admission_date%>">
  <button type="submit">Save</button>

</form>