<table class="single-view">
  <tr>
    <td>Admission Date</td>
    <td><%=@animal.admission_date%></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><%=@animal.type%></td>
  </tr>
  <tr>
    <td>Breed</td>
    <td><%=@animal.breed%></td>
  </tr>
  <% if !@owner %>
  <tr>
    <td>Adoptable</td>
    <td class="centered"><%='✅' if @animal.adoptable%></td>
  </tr>
  <% end %>
  <% if @owner %>
  <tr>
    <td>Owner</td>
    <td><%= @owner.name %></td>
  </tr>
  <tr>
    <td>Owner Email</td>
    <td><%= @owner.email %></td>
  </tr>
  <% end %>
</table>
  
<a href="/animals/<%=@animal.id%>/edit">Edit animal</a><br>
<% if @animal.adoptable && !@owner %>
  <a href="/animals/<%=@animal.id%>/adopt">Add Adoption</a>
<% end %>