<table class="single-view">
  <tr>
    <td>Admission Date</td>
    <td><%=@animal.admission_date%></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><%=@animal.type%></td>
  </tr>
  <tr>
    <td>Breed</td>
    <td><%=@animal.breed%></td>
  </tr>
  <tr>
    <td>Adoptable</td>
    <td class="centered"><%='✅' if @animal.adoptable%></td>
  </tr>
</table>
  
  <a href="/animals/<%=@animal.id%>/edit">Edit animal</a><br>
  <% if @animal.adoptable %>
    <a href="/animals/<%=@animal.id%>/adopt">Add Adoption</a>
  <% end %>