<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Shelter <%= "- #{@section} > #{@title}" %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><a href="/animals/all">The Edinburgh Animal Shelter</a></h1>
  </header>
  <nav>
    <ul class="top-level">
      <li><span>Animals</span>
        <ul class="sub-level">
          <li><a href="/animals/all" <%= 'selected' if @section=='Animals' && @title=='All' %>>
            All
          </a></li>
          <li><a href="/animals/new" <%= 'selected' if @section=='Animals' && @title=='New' %>>
            New
          </a></li>
          <li><a href="/animals/adoptable" <%= 'selected' if @section=='Animals' && @title=='Adoptable' %>>
            Adoptable
          </a></li>
        </ul>
      </li>
        
      <li><span>Customers</span>
        <ul class="sub-level">
          <li><a href="/customers/all" <%= 'selected' if @section=='Customers' && @title=='All' %>>
            All
          </a></li>
          <li><a href="/customers/approved" <%= 'selected' if @section=='Customers' && @title=='Approved' %>>
            Approved
          </a></li>
          <li><a href="/customers/adoptions" <%= 'selected' if @section=='Customers' && @title=='Adoptions' %>>
            Adoptions
          </a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
    <h2><%= @section if @section %><%= " &gt; #{@title}" if @title %></h2>
    <%= yield %>
  </main>
</body>
</html>