<table>
  <thead>
    <tr>
      <td>Customer</td>
      <td>Email</td>
    </tr>
  </thead>
  <% @adoptions.each do |customer_id, adoption| %>
  <tr>
    <td><a href="/customers/<%= customer_id %>">
      <%= adoption["customer_name"] %>
    </a></td>
    <td><%= adoption["customer_email"] %></td>
  </tr>
  <tr>
    <td colspan="2" class="adoptions">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Breed</td>
            <td>Adoption date</td>
          </tr>
        </thead>
        <tbody>
            <% adoption["animals"].each do |animal_id, animal| %>
            <tr class="subtable">
                <td><a href="/animals/<%= animal_id %>"><%= animal["animal_name"] %></a></td>
                <td><%= animal["animal_type"] %></td>
                <td><%= animal["animal_breed"] %></td>
                <td><%= animal["adoption_date"] %></td>
            </tr>
            <% end #animals.each %>
        </tbody>
      </table>
    </td>
  </tr>
  <% end #adoptions.each %>
</table>